.search-control-feedback{
  position:absolute;
  padding: 10px;
  pointer-events: none;
}
.search-control{
  padding-left: 30px!important;
  border-radius: 10px;
}

#search1{
  margin-top:10px;
  margin-bottom: 20px;
}